{% extends "layouts/base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="{{ 'src/assets/css/main-page.css' | getAssetOutputPath | transformWithHtmlBase }}" />
{% endblock %}
{% block scripts %}
  {# HtmlBasePlugin adds pathPrefix once; bare "runtime-config.js" stayed relative and broke loading under /amr/data/. #}
  <script src="/runtime-config.js"></script>
  <script type="module" src="{{ 'src/assets/scripts/pages/main.ts' | getAssetOutputPath | transformWithHtmlBase }}"></script>
{% endblock %}

{% block body %}
  {% include "components/header/header.njk" %}
  {% include "components/header/subheader.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "components/footer/footer.njk" %}
{% endblock %}
