.root {
  border: 0 !important;
  background: transparent !important;
  color: #1477c9;
  padding: 0 !important;
  border-radius: 0;
  text-align: left;
  font-size: 13px;
  box-shadow: none !important;
  cursor: pointer;
  font-family: inherit;
}

.root:disabled {
  color: #1b2c39;
  opacity: 1;
  font-weight: 700;
  cursor: default;
}
